@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background: linear-gradient(
    45deg,
    hsl(162deg 84% 88%) 0%,
    hsl(193deg 100% 50%) 50%,
    hsl(162deg 84% 88%) 100%
  );
}

.gradient-text {
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
